## Dummy_variable_&_OneHotEncoding

Given this dataset we want to build a prediction function to predict price of a home.

- With 3400 sqr ft area in west windsor
- 2800 sqr ft home in robbinsville

The question is : How do we handle the text data in numeric mode?
One way to do it is to use integer encoding or label encoding to convert the name of the town to numerical

In [85]:
import pandas as pd

In [2]:
# Read in the dataset
df = pd.read_csv("text_houseprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9      robbinsville  2600  575000
10     robbinsville  2900  600000
11     robbinsville  3100  620000
12     robbinsville  3600  695000

In [3]:
df.town.unique()

array(['monroe township', 'west windsor', 'robbinsville'], dtype=object)

In [6]:
pd.get_dummies(df.town)

    monroe township  robbinsville  west windsor
0                 1             0             0
1                 1             0             0
2                 1             0             0
3                 1             0             0
4                 1             0             0
5                 0             0             1
6                 0             0             1
7                 0             0             1
8                 0             0             1
9                 0             1             0
10                0             1             0
11                0             1             0
12                0             1             0

In [7]:
# Creating dummy variable columns using pandas_getdummies
# by passing in the categorical column
dummies = pd.get_dummies(df.town, drop_first=True)

In [8]:
dummies

    robbinsville  west windsor
0              0             0
1              0             0
2              0             0
3              0             0
4              0             0
5              0             1
6              0             1
7              0             1
8              0             1
9              1             0
10             1             0
11             1             0
12             1             0

In [9]:
# concatenate the two dataframes
merged = pd.concat([df, dummies], axis= 1)

In [10]:
merged

               town  area   price  robbinsville  west windsor
0   monroe township  2600  550000             0             0
1   monroe township  3000  565000             0             0
2   monroe township  3200  610000             0             0
3   monroe township  3600  680000             0             0
4   monroe township  4000  725000             0             0
5      west windsor  2600  585000             0             1
6      west windsor  2800  615000             0             1
7      west windsor  3300  650000             0             1
8      west windsor  3600  710000             0             1
9      robbinsville  2600  575000             1             0
10     robbinsville  2900  600000             1             0
11     robbinsville  3100  620000             1             0
12     robbinsville  3600  695000             1             0

### Avoid the dummy variable trap
The Dummy Variable Trap occurs when two or more dummy variables created by one-hot encoding are highly correlated (multi-collinear). This means that one variable can be predicted from the others, making it difficult to interpret predicted coefficient variables in regression models

In [11]:
final = merged.drop(["town"], axis= 1)
final

    area   price  robbinsville  west windsor
0   2600  550000             0             0
1   3000  565000             0             0
2   3200  610000             0             0
3   3600  680000             0             0
4   4000  725000             0             0
5   2600  585000             0             1
6   2800  615000             0             1
7   3300  650000             0             1
8   3600  710000             0             1
9   2600  575000             1             0
10  2900  600000             1             0
11  3100  620000             1             0
12  3600  695000             1             0

In [93]:
# Import the linear regression model
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [13]:
# storing the independent variables into X
X = final.drop("price", axis= 1)
X

    area  robbinsville  west windsor
0   2600             0             0
1   3000             0             0
2   3200             0             0
3   3600             0             0
4   4000             0             0
5   2600             0             1
6   2800             0             1
7   3300             0             1
8   3600             0             1
9   2600             1             0
10  2900             1             0
11  3100             1             0
12  3600             1             0

In [83]:
y = final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [15]:
# Tranin the model
model.fit(X, y)

LinearRegression()

In [33]:
# predict price for house in robbinsville
model.predict([[2800, 1, 0]]).round(1)

C:\Users\Okoye Emmanuel\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.6])

In [17]:
# Predict price for house in west windsor
model.predict([[3400, 0, 1]])

C:\Users\Okoye Emmanuel\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.6684584])

In [36]:
# Random Predict price for house in Monroe township
model.predict([[3000, 0, 0]])

C:\Users\Okoye Emmanuel\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590468.71640507])

In [37]:
# Checking the accuracy of the model
model.score(X, y)

0.9573929037221872

## SECOND METHOD

In [92]:
# SECOND METHOD
# Doing thesame process using sklearn LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [40]:
dfle = df
dfle.head(5)

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [41]:
# transform the town to values to numerical
dfle.town = le.fit_transform(dfle.town)

In [42]:
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [106]:
# Put the predictors into one variable
X = dfle[["town", "area"]].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [107]:
# Put the independent variable in one variable
y = dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [65]:
# Creating the dummy variables
# import the OneHotEncoder to get the dummy variables
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [108]:
X[:,:1]

array([[0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [109]:
# we are making use of the first variable (town) as the categorical feature
encode = ohe.fit_transform(X[:,:1]).toarray()

In [110]:
encode

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [111]:
ohe.categories_

[array([0, 1, 2], dtype=int64)]

In [112]:
# creating a dataframe from the encoded variables
encode = pd.DataFrame(encode) #columns=ohe.categories_)

In [113]:
encode

      0    1    2
0   1.0  0.0  0.0
1   1.0  0.0  0.0
2   1.0  0.0  0.0
3   1.0  0.0  0.0
4   1.0  0.0  0.0
5   0.0  0.0  1.0
6   0.0  0.0  1.0
7   0.0  0.0  1.0
8   0.0  0.0  1.0
9   0.0  1.0  0.0
10  0.0  1.0  0.0
11  0.0  1.0  0.0
12  0.0  1.0  0.0

In [114]:
# input the area from the previous X into the dataframe
encode["3"] = X[:, 1:]

In [115]:
X[:, 1:]

array([[2600],
       [3000],
       [3200],
       [3600],
       [4000],
       [2600],
       [2800],
       [3300],
       [3600],
       [2600],
       [2900],
       [3100],
       [3600]], dtype=int64)

In [116]:
encode

      0    1    2     3
0   1.0  0.0  0.0  2600
1   1.0  0.0  0.0  3000
2   1.0  0.0  0.0  3200
3   1.0  0.0  0.0  3600
4   1.0  0.0  0.0  4000
5   0.0  0.0  1.0  2600
6   0.0  0.0  1.0  2800
7   0.0  0.0  1.0  3300
8   0.0  0.0  1.0  3600
9   0.0  1.0  0.0  2600
10  0.0  1.0  0.0  2900
11  0.0  1.0  0.0  3100
12  0.0  1.0  0.0  3600

In [117]:
# Avoid the dummy variable trap by dropping an extra column
X = encode.drop(columns={0})

In [118]:
X

      1    2     3
0   0.0  0.0  2600
1   0.0  0.0  3000
2   0.0  0.0  3200
3   0.0  0.0  3600
4   0.0  0.0  4000
5   0.0  1.0  2600
6   0.0  1.0  2800
7   0.0  1.0  3300
8   0.0  1.0  3600
9   1.0  0.0  2600
10  1.0  0.0  2900
11  1.0  0.0  3100
12  1.0  0.0  3600

In [120]:
X = X.values

In [95]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [121]:
# Train the model
model.fit(X, y)

LinearRegression()

In [122]:
# predict price for house in robbinsville
model.predict([[1, 0, 2800]])

array([590775.63964739])

In [123]:
# Predict price for house in west windor
model.predict([[0, 1, 3400]])

array([681241.6684584])

In [124]:
# predict price for house in monroe township
model.predict([[0, 0, 2800]])

array([565089.22812299])